<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap" rel="stylesheet">

<div class="innerContainer">
    <h1>Welcome to my Angular App!</h1>
    <p>In this project,the app fetch the data from website and get random users</p>
    <p>View the user list by clicking on the button below :</p>
    <a href="#" routerLink = "/api-data" class="viewList">View User List</a>
</div>
